@model IEnumerable<PlayerAgentManagement.BL.Domain.Agent>

@{
    ViewBag.Title = "All Agents";
    Layout = "_Layout";
}

<h2>All Agents</h2>

<div id="manTableBody">
    
</div>
<button class="btn btn-primary" type="button" id="refreshButton">Refresh</button>
<script src="/js/agent/index.js" defer></script>